In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))

# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/

!kaggle config set -n path -v /content 

!chmod 600 /root/.kaggle/kaggle.json

!kaggle datasets download -d yingwurenjian/chicago-divvy-bicycle-sharing-data

!mkdir /content/divvy
!mkdir /content/divvy/data
!cp -r /content/datasets/yingwurenjian/chicago-divvy-bicycle-sharing-data /content/divvy/data

!ls /content/divvy/data

!unzip \
/content/divvy/data/chicago-divvy-bicycle-sharing-data/chicago-divvy-bicycle-sharing-data.zip \
-d /content/divvy/data/

!apt-get install libgeos-3.5.0
!apt-get install libgeos-dev
!pip install https://github.com/matplotlib/basemap/archive/master.zip
  
!pip install pyproj==1.9.6

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 64 bytes
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: /content
Downloading chicago-divvy-bicycle-sharing-data.zip to /content/datasets/yingwurenjian/chicago-divvy-bicycle-sharing-data
 99% 625M/629M [00:05<00:00, 98.7MB/s]
100% 629M/629M [00:06<00:00, 109MB/s]
chicago-divvy-bicycle-sharing-data
Archive:  /content/divvy/data/chicago-divvy-bicycle-sharing-data/chicago-divvy-bicycle-sharing-data.zip
  inflating: /content/divvy/data/data_raw.csv
  inflating: /content/divvy/data/data.csv
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libgeos-3.5.0
E: Couldn't find any package by glob 'libgeos-3.5.0'
E: Couldn't find any package by regex 'libgeos-3.5.0'
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-410
Use 'apt autoremove' to remove it.
Suggested packages:
  libgdal-doc
The following NEW packages will be installed:
  libgeos-dev
0 upgraded, 1 newly installed, 0 to remove and 4 not upgraded.
Need to get 73.1 kB of archives.
After this operation, 486 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libgeos-dev amd64 3.6.2-1build2 [73.1 kB]
Fetched 73.1 kB in 0s (149 kB/s)
Selecting previously unselected package libgeos-dev.
(Reading database ... 131289 files and directories currently installed.)
Preparing to unpack .../libgeos-dev_3.6.2-1build2_amd64.deb ...
Unpacking libgeos-dev (3.6.2-1build2) ...
Setting up libgeos-dev (3.6.2-1build2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Collecting https://github.com/matplotlib/basemap/archive/master.zip
  Downloading https://github.com/matplotlib/basemap/archive/master.zip
     | 191.6MB 1.0MB/s
Requirement already satisfied: matplotlib!=3.0.1,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from basemap==1.2.1) (3.0.3)
Requirement already satisfied: numpy>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from basemap==1.2.1) (1.16.4)
Collecting pyproj>=1.9.3 (from basemap==1.2.1)
  Downloading https://files.pythonhosted.org/packages/16/59/43869adef45ce4f1cf7d5c3aef1ea5d65d449050abdda5de7a2465c5729d/pyproj-2.2.1-cp36-cp36m-manylinux1_x86_64.whl (11.2MB)
     |████████████████████████████████| 11.2MB 1.4MB/s
Collecting pyshp>=1.2.0 (from basemap==1.2.1)
  Downloading https://files.pythonhosted.org/packages/27/16/3bf15aa864fb77845fab8007eda22c2bd67bd6c1fd13496df452c8c43621/pyshp-2.1.0.tar.gz (215kB)
     |████████████████████████████████| 225kB 50.8MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from basemap==1.2.1) (1.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.1,>=1.0.0->basemap==1.2.1) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.1,>=1.0.0->basemap==1.2.1) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.1,>=1.0.0->basemap==1.2.1) (2.5.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.1,>=1.0.0->basemap==1.2.1) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.0.1,>=1.0.0->basemap==1.2.1) (41.0.1)
Building wheels for collected packages: basemap, pyshp
  Building wheel for basemap (setup.py) ... done
  Created wheel for basemap: filename=basemap-1.2.1-cp36-cp36m-linux_x86_64.whl size=121755987 sha256=8a36f46f466003f68230173d0097b9929ce2e4a2b5aa8db3fa9459857922a08d
  Stored in directory: /tmp/pip-ephem-wheel-cache-a5il8cf5/wheels/98/4a/fc/ce719b75d97e646645c225f3332b1b217536100314922e9572
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.0-cp36-none-any.whl size=32608 sha256=dc51693ce49360c508d5f1fbe0a5df8b51bf7b080defceaf6abdb08e5f4946be
  Stored in directory: /root/.cache/pip/wheels/a6/0c/de/321b5192ad416b328975a2f0385f72c64db4656501eba7cc1a
Successfully built basemap pyshp
Installing collected packages: pyproj, pyshp, basemap
Successfully installed basemap-1.2.1 pyproj-2.2.1 pyshp-2.1.0

Collecting pyproj==1.9.6
  Downloading https://files.pythonhosted.org/packages/26/8c/1da0580f334718e04f8bbf74f0515a7fb8185ff96b2560ce080c11aa145b/pyproj-1.9.6.tar.gz (2.8MB)
     |████████████████████████████████| 2.8MB 1.4MB/s
Building wheels for collected packages: pyproj
  Building wheel for pyproj (setup.py) ... done
  Created wheel for pyproj: filename=pyproj-1.9.6-cp36-cp36m-linux_x86_64.whl size=3702100 sha256=d92f1cef5a0d0cc3020f27fcf4df7ea4d8ad6c0886736b636ddbd186e2065cec
  Stored in directory: /root/.cache/pip/wheels/02/cd/b1/a2d6430f74c7a778a43d62f78bec109ca69c732dc9b929142a
Successfully built pyproj
Installing collected packages: pyproj
  Found existing installation: pyproj 2.2.1
    Uninstalling pyproj-2.2.1:
      Successfully uninstalled pyproj-2.2.1
Successfully installed pyproj-1.9.6

In [0]:
import os
import sys
import time
import random

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from mpl_toolkits.basemap import Basemap

In [0]:
csv_filename = '/content/divvy/data/data.csv'
data_df = pd.read_csv(csv_filename)
data_df.head()

   trip_id  year  month  ...  latitude_end  longitude_end  dpcapacity_end
0  2355134  2014      6  ...     41.945512     -87.645980            15.0
1  2355133  2014      6  ...     41.869482     -87.655486            15.0
2  2355130  2014      6  ...     41.919936     -87.648830            15.0
3  2355129  2014      6  ...     41.887155     -87.627750            11.0
4  2355128  2014      6  ...     41.877749     -87.649633            19.0

[5 rows x 23 columns]

In [0]:
from_freq_dict = dict(data_df['from_station_id'].value_counts(sort=False))
from_station_counts = [from_freq_dict[station_id] for station_id in data_df['from_station_id']]

to_freq_dict = dict(data_df['to_station_id'].value_counts(sort=False))
to_station_counts = [to_freq_dict[station_id] for station_id in data_df['to_station_id']]

data_df['trips_from_station'] = pd.Series(from_station_counts)
data_df['trips_to_station']   = pd.Series(to_station_counts)
data_df.head()

   trip_id  year  month  ...  dpcapacity_end  trips_from_station  trips_to_station
0  2355134  2014      6  ...            15.0               19703             33783
1  2355133  2014      6  ...            15.0               20084             23992
2  2355130  2014      6  ...            15.0               31623             27534
3  2355129  2014      6  ...            11.0               51123             25397
4  2355128  2014      6  ...            19.0               27481             50822

[5 rows x 25 columns]

In [0]:
def plot_map_data(df, x_column, y_column, size_column, lines=False):
    
    data_x = np.array(df[x_column])
    data_y = np.array(df[y_column])
    
    sizes = map_down(df, size_column, 100)
    
    print(data_x.shape, data_y.shape, sizes.shape)
        
    ll_lon = -87.80
    ll_lat = 41.70

    ur_lon = -87.50
    ur_lat = 42.10

    plt.figure(figsize=(15,15))

    chicago_map = Basemap(
        llcrnrlon=ll_lon, llcrnrlat=ll_lat, urcrnrlon=ur_lon, urcrnrlat=ur_lat,        
        epsg=3435
    )
    chicago_map.arcgisimage(service='World_Street_Map', xpixels = 1500, verbose= True)

    if (lines):
        parallels = np.arange(0.,90,0.1)
        meridians = np.arange(10.,351.,0.1)
        chicago_map.drawparallels(parallels,labels=[False,True,True,False], color='white', textcolor='white')
        chicago_map.drawmeridians(meridians,labels=[True,False,False,True], color='white', textcolor='white')
    
    chicago_map.scatter(
        
        x=data_x,
        y=data_y,
        
        alpha=0.1,
        c=sizes,
        cmap='Reds',
        
        s=5,
        marker='.',
        
        latlon=True
    )
    
def map_down(df, size_column, scale=10):
    
    sizes = df[size_column]
    max_size = sizes.max()
    sizes = sizes * scale / max_size
    
    return sizes

In [0]:
plot_map_data(
    data_df,
    x_column='longitude_start',
    y_column='latitude_start',
    size_column='trips_from_station'
)

(9495235,) (9495235,) (9495235,)
http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/export?bbox=1129895.9549515182,1833722.6409860172,1210406.4540495614,1980133.340020669&bboxSR=3435&imageSR=3435&size=1500,2727&dpi=96&format=png32&transparent=true&f=image

In [0]:
|

SyntaxError: ignored